nav {
  display: flex;
  justify-content: space-evenly;
  
}

body{
  background-image: url(images/background.png);
}
.social {
  height: 100px;
  width: auto;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: ridge;
  background-color: #a0aecd;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
h1 {
  color: #000000;
}
p {
  color: #000000;

  font-size: large;
}
h2{
    color: #000000;
    font-weight: bold;
}
.question-text-box{
  background-color: #d2b48c;
  border-radius: 20px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2em;
}

.menu-header{
  font-size: 4em;
  font-family: 'Bungee Spice', cursive;
  text-align: center;
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float{
  0% {transform: translate(0, 0px);}
  50% {transform: translate(0, 15px);}
  100% {transform: translate(0, -0px);}
}

.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-btn{
  min-width: 5em;
  border-radius: 20px;
  padding: 1em;
  font-family: 'Bungee Spice', cursive;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.25em;
  background-color: #e4d3b5;
}

.menu-btn:hover{
  background-color: #cbb38a;
}


td {
  height: 700px;
  width: 1000px;
  vertical-align: bottom;
  
}

img {
  width: 350px;
  height: 500px;
  margin: 0;
  vertical-align: bottom;
}