nav {
  display: flex;
  font-size: 1.4em;
  font-family: 'Bungee Spice', cursive;
  background-color: #3e332c;
  margin: 0;
  padding: 0;
}

nav a{
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

nav a:hover{
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes bounce{
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-8px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-5px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

body{
  background-image: url(images/background.png);
  margin: 0px;
}
.social {
  height: 100px;
  width: auto;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: ridge;
  background-color: #a0aecd;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
h1 {
  color: #000000;
}
p {
  color: #000000;

  font-size: large;
}
h2{
    color: #000000;
    font-weight: bold;
}
.question-text-box{
  background-color: #d2b48c;
  border-radius: 20px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2em;
}

.menu-header{
  font-size: 4em;
  font-family: 'Bungee Spice', cursive;
  text-align: center;
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float{
  0% {transform: translate(0, 0px);}
  50% {transform: translate(0, 15px);}
  100% {transform: translate(0, -0px);}
}

.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-btn{
  min-width: 5em;
  border-radius: 20px;
  padding: 1em;
  font-family: 'Bungee Spice', cursive;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.25em;
  background-color: #e4d3b5;
}

.menu-btn:hover{
  background-color: #cbb38a;
}

.menu-container{
  display: flex;
  justify-content: space-around;
  
}

td {
  height: 700px;
  width: 1000px;
  vertical-align: bottom;
  
}

img {
  width: 250px;
  height: 300px;
  margin: 0;
  vertical-align: bottom;
}

table {
  background-image: url("bg.png");
  background-size: cover;
  margin-left: 100px;
}

